<!DOCTYPE html>
<html ng-app="myApp" dir="rtl" lang="ar">
<head>
	<title>&#1575;&#1589;&#1583;&#1602;&#1575;&#1569; &#1575;&#1604;&#1607;&#1604;&#1575;&#1604; &#1575;&#1604;&#1575;&#1581;&#1605;&#1585; &#1575;&#1604;&#1601;&#1604;&#1587;&#1591;&#1610;&#1606;&#1610;</title>
 <meta http-equiv="Content-Type" CONTENT="text/html; charset=utf-8">
	<!-- fonts -->

	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
  <!-- jQuery -->
  <script src="src/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
  <script src="src/js/bootstrap.js"></script>
  
  <!-- Custom styles -->
    <link rel="stylesheet" type="text/less" href="src/style.less">
   	<script src="src/less.js"></script>
    <!-- fontawesome for connect icons -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.2.6/angular-sanitize.js"></script>
	<script src="http://code.angularjs.org/1.2.6/angular-resource.js"></script>
	<script src="http://code.angularjs.org/1.2.6/angular-route.min.js"></script>
	<!-- tabletop -->
	<script src="src/tabletop.js"></script>
	<!-- app and parts -->
	<script src="src/app.js"></script>
	<script src="src/controllers.js"></script>
	<script src="src/service.js"></script>
</head>
<div ng-controller="spreadsheet">
  <!-- nav -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#Why">Why</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="http://facebook.com/FriendsOfThePRCS"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://twitter.com/friendsprcs"><i class="fa fa-twitter"></i></a></li>
        <li><button type="button" class="btn btn-default navbar-btn btn-danger"><a href="https://org2.salsalabs.com/o/7315/donate_page/friends-prcs">Donate Now</a></button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<header>
<div class="jumbotron red">
    <div class="container">
    <div class="col-md-12 hdr"><img src="src/img/prcslogos.png" style="max-height:45%; float:left;" alt="Friends of the Palestinian Red Crescent">
    <h1>&#1575;&#1589;&#1583;&#1602;&#1575;&#1569; &#1575;&#1604;&#1607;&#1604;&#1575;&#1604; &#1575;&#1604;&#1575;&#1581;&#1605;&#1585; &#1575;&#1604;&#1601;&#1604;&#1587;&#1591;&#1610;&#1606;&#1610;</h1><h4>مساعدات طبية لاجل غزة</h4><a href="https://org2.salsalabs.com/o/7315/donate_page/friends-prcs"><button type="button" class="btn btn-default btn-lg center">تبرع الآن</button></a></div>
  </div>    
</div>
</header>
  <!-- about, etc -->
    	<div ng-repeat="item in tableDataTabletop | filter: {sectiontype:'aboveFAQ'}">
    		<div class="jumbotron altred" id="{{item.sectionname}}">
        		<div class="container">
        			<h2>{{item.sectionname}}</h2>
        		</div>
        	</div> 
        <div class="container">
        	<div class="row">
        		<div class="col-md-12">
        			<p><span ng-bind-html="item.copy"></span></p>
        		</div>
        	</div>
    	</div>
    </div>		
    <!-- faq -->
    <div class="jumbotron altred" id="faq">
    	<div class="container"><h2>Frequently Asked Questions</h2></div>
    </div>
    <div class="container">
    		<div ng-repeat="item in tableDataTabletop | filter: {sectiontype:'theFAQ'}">
   			<div class="row faqrow">
   				<div class="pink col-md-6">
    				<h2>{{item.sectionname}}</h2>
    			</div>
   				<div class="gray col-md-6">
   					<p><span ng-bind-html="item.copy"></span></p>
    			</div>
  			</div>
    	</div>
    </div>
    <!-- legal -->
<!--    <div class="jumbotron altred" id="legal">
		<div class="container">
				<h2>Legal</h2>
		</div>
   </div> -->
   	<div ng-repeat="item in tableDataTabletop | filter: {sectiontype: 'legal'}">
   		<div class="container">
        		<div class="row">
        			<div class="col-md-12">
        				<p><span ng-bind-html="item.copy"></span></p>
        			</div>
        		</div>
      		</div>
   	</div>
    <!-- social media -->
    <footer>
    	<div class="jumbotron altred">
        		<div class="container">
       				<h5>Connect | <a href=mailto:friendsprcs@afgj.org><i class="fa fa-envelope-o"></i> friendsprcs@afgj.org</a>| <span ng-repeat="item in tableDataTabletop | filter: {sectiontype: 'connect'}"><a href="http://{{item.sectionname}}.com/{{item.copy}}"><i class="fa fa-{{item.sectionname}}"></i> {{item.copy}}</a> | </span> <a href="http://afgj.org">afgj.org</a></h5>
        		</div>
    	</div>
    	</footer>
</body
</html>
