<title ng-bind="hdr"></title>
<header>
<div class="jumbotron" style=" min-height:100%!important; background-image: url(src/img/photos/IMG_4024.JPG);background-repeat:no-repeat;background-position: center center;" dir="rtl" lang="ar">
    <img src="src/img/prcslogos.png" style="max-height:45%; float:left;" alt="Friends of the Palestinian Red Crescent">
    <h1><span ng-repeat="item in tableDataTabletop | filter: {sectionname:'title'}">{{item.copy}}</h1></span>
    <span ng-repeat="item in tableDataTabletop | filter: {sectionname:'caption'}"><h2>{{item.copy}}</h2></span><a href="https://org2.salsalabs.com/o/7315/p/salsa/donation/common/public/?donate_page_KEY=11654"><button type="button" class="btn btn-default btn-lg center"><span ng-repeat="item in tableDataTabletop | filter: {sectiontype:'donate'}">{{item.copy}}</span></button></a>
</div>
</header>
<div class="container-fluid">
  <!-- why -->
    	<div ng-repeat="item in tableDataTabletop | filter: {sectiontype:'why'}">
        <div class="row-fluid">
            <div class="col-md-12 gray" dir="rtl">
              <h1>{{item.sectionname}}</h1>
        			<p><span ng-bind-html="item.copy"></span></p>
        		</div>
            
            </div>
        </div>
    	</div>
  <!-- about -->
      <div ng-repeat="item in tableDataTabletop | filter: {sectiontype:'about'}" dir="rtl" lang="ar">
      <div style=" min-height:100%!important; background-image: url(src/img/photos/12-IMG_4101.JPG);background-repeat:no-repeat;background-position: center center;">
        <div class="row-fluid" id="{{item.sectionname}}">
            <div class="col-md-6">
            <div class="gray">
              <h1>{{item.sectionname}}</h1>
              <p><span ng-bind-html="item.copy"></span></p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- endorsement -->
     <div ng-repeat="item in tableDataTabletop | filter: {sectiontype:'endorsement'}" dir="rtl" lang="ar">
        <div class="row-fluid" id="{{item.sectionname}}">
           <div class="col-md-6">
              <img src="src/img/photos/IMG_4245.JPG" class="img-responsive paddedimg">
            </div> 
            <div class="col-md-6">
            <div class="gray">
              <h1>{{item.sectionname}}</h1>
              <p><span ng-bind-html="item.copy"></span></p>
            </div>
            </div>
        </div>
      </div>  
    <!-- faq -->
    <div id="faq">
    		<h1 style="text-align:center;" ng-bind="faq"></h1>
        <div ng-repeat="item in tableDataTabletop | filter: {sectiontype:'theFAQ'}" dir="rtl" lang="ar"> 
   			<div class="row-fluid faqrow">
   				<div class="col-md-6">
            <div class="pink"><h3>{{item.sectionname}}</h3></div>    				
    			</div>
   				<div class="gray col-md-6">
   					<p><span ng-bind-html="item.copy"></span></p>
    			</div>
  			</div>
    	</div>
    </div>
    <!-- legal -->
<!--    <div class="jumbotron altred" id="legal">
		<div class="container-fluid">
				<h2>Legal</h2>
		</div>
   </div> -->

    <!-- social media -->
    <footer>
    	<div class="jumbotron gray">
        		<div class="row-fluid" dir="rtl" lang="ar">
       				<h5 style="text-align:center;"><a href=mailto:friendsprcs@afgj.org><i class="fa fa-envelope-o"></i> friendsprcs@afgj.org</a>| <span ng-repeat="item in tableDataTabletop | filter: {sectiontype: 'connect'}"><a href="http://{{item.sectionname}}.com/{{item.copy}}"><i class="fa fa-{{item.sectionname}}"></i> {{item.copy}}</a> | </span> <a href="http://afgj.org">afgj.org</a></h5>
        		</div>
    	</div>
    	</footer>
</div>
</body
</html>
