
@red: #f52f02;
@darkred: darken(@red, 30%);
@gray: #d1d1d1;
@pink: lighten(@red, 15%);

/* Mixin */
.gradient (@origin: top, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}

body{
	background-image: url(img/texturetastic_gray_2X.png);
	background-color: @gray;
	font-family: 'Droid Sans', sans-serif;
}
a {
	font-weight: 700;
	color: darken(@red, 25%)
}
h1, h2,h3,h4,h5,h6, button{
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}
p{
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}
nav{
	font-family: 'droid sans', sans-serif;
	opacity: 0.8;
}
.btn-danger{
	color: white!important;
	font-weight:400;
	a{color:white!important;font-weight: 400;}
}
.btn-default{
	text-shadow: none!important;
	background-image: none;
}
.black{background-color: black;}

.red{
	.gradient(top, @red, @darkred);
	h1, h2, h3, h4{color: white;}
}
.gray{
	background-color: @gray;
	padding: 2.5%;
}
.hdr{
	padding-top: 5%;
}
.altred{
	padding-top: 15px!important;
	padding-bottom: 15px!important;
	text-align:center;
	h1, h2, h3,h4, h5{color: white;}
	// h2{font-size: 48px;}
	a{color: white;}
	.gradient(top, @darkred, @red);
}
.pink{
	background-color: @pink;
	padding: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	text-align: right;

}

.center{
	text-align: center;
}
.row{
	padding-bottom: 2.5%;
	padding-top: 2.5%;
}
@media only screen 
and (min-width : 768px) {
.faqrow{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}
}
